.page {
    width: 100%;
    max-height: 100vh; 
    display: flex;
    /* background-color: red; */
}

.container-right {
    width: 100%;
    padding: 25px;
    overflow-x: hidden; /* Oculta el desbordamiento horizontal */
    overflow-y: auto;   /* Permite el desplazamiento vertical */
}