.search-bar{
    height: 35px;
    width: 50%;
    background-color: var(--silver-color);
    padding: 3px 13px;
    display: flex;
    gap: 5px;
    border-radius: 15px;
}

.search-bar input{
    border: none;
    color: #000;
    outline: none;
    background-color: transparent;
    width: 100%;
}
.search-bar button{
    border: none;
    background-color: var(--blue-color);
    padding: 3px 8px;
    border-radius: 10px;
    cursor: pointer;
}