.item{
    width: 100%;
    padding-left: 25px;
    background-color: var(--green-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--green-color);
}

.item button{
    border: none;
    background-color: var(--green-color);
    cursor: pointer;
}


.item h3{
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 500;
}

.sub-items{
    margin: 0;
    margin-left: 15px;
}
.btn-subitem{
    background-color: var(--light-green01-color);
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: small;
    cursor: pointer;
}


.btn-subitem:hover, .btn-subitem:active{
    opacity: 0.8;
    border:3px solid var(--light-greenBtn-color);
}