#navbar{
    width: 25vw;
    height: 100vh;
    max-height: 100vh;
    background-color: var(--navbar-color);
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    overflow-y: auto;
}